<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css"> <!-- Link to the CSS file -->
</head>

<body>
    <div class="home-container">
        <h1>Welcome to Our Website</h1>
        <div class="button-container">
            <a href="/login"><button>Login</button></a>

            <a href="/register"><button>Register</button></a>
        </div>
    </div>
</body>

</html>